@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
    font-family: "Raleway", sans-serif;
    background-color: antiquewhite;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}


#header {
    text-align: center;
    font-size: 80pt;
    
    text-decoration: underline;
    text-decoration-color: orange;
    margin-bottom: 0;
}

.sep {
    color: orange;
}

#subheading {
    text-align: center;
    font-size: 25pt;
    margin-top: 0;
}

#frameworks {
    position: absolute;
    font-size: 15pt;
    top:40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    top: 45%;
    display: inline-block;
    font-size: 50pt;

    text-align: center;

    user-select: none;
}

.download-button {
    position: absolute;
    font-size: 25pt;
    background-color: black;
    color: antiquewhite;
    padding: 12pt;
    border-radius: 50pt;
    text-decoration: none;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.download-button:hover {
    color: orange;
}

#links {
    position: absolute;
    font-size: 35pt;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

#links a{
    color: black;
    transition: 0.3s;
}

#links a:hover {
    color: orange;
}


@media only screen and (max-width: 850px) {
    #header {
        font-size: 12vw;
    }
    
    #subheading {
        font-size: 6vw;
    }


    #frameworks {
        position: absolute;
        font-size: 6vw;
        text-align: center;
        top: 35%;
    }

    #text1,#text2 {
        font-size: 15vw;
    }

    .download-button {
        font-size: 8vw;
        padding: 6pt;
    }

    #links {
        font-size: 10vw;
        top: 95%;
    }

}